{% extends 'KahnBundle::layout.html.twig' %}

{#{% block stylesheets %}#}
    {#<link href="{{ asset('uploads/css/login.css') }}" rel="stylesheet" type="text/css" />#}
{#{% endblock %}#}

{% block body %}
    <form action="{{ path('kahn_mainpage') }}" method="post">
        <div class="container">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <br/>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <br/>

            <button type="submit">Login</button>
        </div>
    </form>
{% endblock %}